body {
    margin: 20px;
    background-color: rgb(34, 91, 99);
    text-transform: uppercase;
}
 .main {
    border: 5px solid black;
    border-radius: 15px;
    display: block;
    background-color: #9AC8CD;
 }
a {
    text-decoration: none;
}

h1 a {
    text-transform: uppercase;
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.5px black;
    margin-left: 370px;
    font-size: larger;
}

h1 a:hover {
    transition: 0.2s;
    text-decoration: solid;
    color: rgb(14, 70, 163);
    text-decoration: underline;
    text-decoration-color: rgb(14, 70, 163);
}

form {
    color: white;
    background-color: #1E0342;
    margin: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

section {
    margin: 20px;
    display: block;
}

input {
    margin-left: 20px;
    border-radius: 10px;
    font-size: 15px;
    padding: 11px;
    outline: none;
    width: 350px;
    line-height: 11px;
    background: transparent;
    color: white;
    border-color: white;
}

input::placeholder {
    color: #9AC8CD;
}

input:hover {
    color: rgb(14, 70, 163);
    border-color: rgb(14, 70, 163);
    padding: 15px;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.2s;
}

h2 a {
    margin-left: 495px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.5px black;
    margin-bottom: 40px;
    margin-top: 20px;
}

h2 a:hover {
    text-decoration: solid;
    color: rgb(14, 70, 163);
    text-decoration: underline;
    text-decoration-color: rgb(14, 70, 163);
    transition: 0.2s;
}

.section2 {
    display: flex;
    width: 60%;
    margin-left: -0px;
}

.section2 input {
    height: 15px;
    margin-left: -40px;
}

.section2 i {
    margin-left: -160px;
}

#a8 {
    margin-top: -42px;
    margin-left: 158px;
    border-radius: 10px;
    font-size: 15px;
    padding: 11px;
    outline: none;
    width: 355px;
    line-height: 11px;
    background: transparent;
    border: 1px solid white;
    resize: none;
}

#a8:hover {
    color: rgb(14, 70, 163);
    border-color: rgb(14, 70, 163);
    padding: 15px;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.2s;
}

#s3 {
    margin-left: 80px;
    margin-right: -90px;
}

#s2 {
    margin-left: 60px;
    margin-right: -90px;
}

select {
    margin-left: 20px;
    border-radius: 10px;
    font-size: 15px;
    padding: 11px;
    outline: none;
    width: 370px;
    line-height: 11px;
    background: transparent;
    color: #9AC8CD;
    border-color: white;
}

#a3 {
    color: #9AC8CD;
}

option {
    color: white;
    background: black;
}

i {
    font-size: 23px;
}

.section3 {
    margin-left: -0px;
}

p {
    font-size: larger;
}

.td {
    text-align: center;
}

.text {
    width: 180px;
}

legend {
    font-size: larger;
}

fieldset {
    border: 1px solid white;
    border-radius: 10px;
    margin-left: -0px;
}

div {
    display: flex;
    height: auto;
    width: auto;
}

p {
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 100px;
}

.lastlabel {
    margin-top: 16px;
    margin-left: -55px;
}

.lastinput {
    margin-top: 16px;
    height: 15px;
    margin-left: -160px;
}

.button {
    float: left;
    margin-left: 345px;
    margin-right: 10px;
}

button {
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 15px;
    padding: 11px;
    color: black;
    outline: none;
    width: 220px;
    line-height: 27px;
    background: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid black;
}

button:hover {
    padding: 13px;
    font-size: 17px;
    color: rgb(14, 70, 163);
    border: 3px solid rgb(14, 70, 163);
    transition: 0.2s;
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}